name: Release

on: [workflow_dispatch]

jobs:
  release:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: npm i

      - name: Build
        run: npm run build

      - name: Semantic release
        uses: codfish/semantic-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: '${{ github.actor }}'
          GIT_COMMITTER_NAME: '${{ github.actor }}'
